
// police
@font-face {
    font-family: "font-1";
    src: url(../src/assets/fonts/Questrial-Regular.woff2  );
  }
  @font-face {
    font-family: "font-2";
    src: url(../src/assets/fonts/Michroma-Regular.woff2   );
  }
  @font-face {
      font-family: "title";
      src: url(../src/assets/fonts/Ryana-Lovely.ttf  );
    }
  
  //fonts 
  $font-1: "font-1", sans-serif;
  $font-2: "font-2", serif;
  $title: "title", serif;
  
  //colors 
  $purple: #64555b;
  $red :#ca3c25;
  $purple-light: #cca596;
  $yellow: #dbd053;
  $blue: #177e89;
  $jade: #7fc29b;
  $green: #cfff7d;
  $grey: #57605b;
  $grey-light: #d9dcd6;
  $black: #313638;

  // :export {
  //   purple :$purple;
  //   purple-light :$purple-light;
  //   yellow :$yellow;
  //   blue :$blue;
  //   grey-light :$grey-light;

    
  // }
  
  
  //reset CSS
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: $font-1;
  }
  
  