@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-collapse{
transition-property: inset-inline-start;
  transition-duration: var(--sidebar-transition-duration);
  transition-timing-function: var(--sidebar-transition-timing-function);
}

